.soccer {
  background-image: url("https://cdn.imgbin.com/25/9/13/imgbin-football-pitch-street-football-athletics-field-stock-photography-football-field-green-soccer-field-illustration-AeD1wi1GqgM5eEugKLuSG5pQu.jpg");
  color: white;
  background-size: cover;
  height: 800px;
  width: 1185px;
  padding-top: 50px;
  padding-left: 70px;
}
