/* #home {
  display: flex;
  margin-left: 1%;
  margin-bottom: 5%;
  margin-left: 3%;
}  */

h2 {
  margin-bottom: 5%;
  margin-left: 79%;
}
/* 
.home:after {
  content: "";
  display: table;
  clear: both;
} */

.image {
  background-image: url("https://img.pngio.com/football-field-png-free-download-fourjayorg-hd-football-field-png-986_555.png");
  color: white;

  /* background-repeat: center; */
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
}

/* h2 {
  font-family: "Anton", sans-serif;
} */
/* .columns {
  display: flex; */
/* margin-left: 5%; */
/* margin-bottom: 5%; */
/* margin-left: 3%; */
/* } */
/* .profile {
  color: white;
  border-radius: 5px;
  border: 2px solid black;
} */
/* .profile {
  /* float: left; */
/* width: 318px;
  height: 500px;
  margin-right: 10px;
  border: solid thin black;
  padding: 10px; */
/* } */

/* h3 {
  text-align: center;
  border-radius: 25px;
  background-color: #3248a8;
} */

/* #1F9BEA */
