#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  background-color: white;
  margin-left: 1%;

  border: 2px solid #af9631;
  border-radius: 6px;
  overflow: hidden;
}

h2 {
  margin-bottom: 5%;
  margin-left: 3%;
}

.button1 {
  /* color: #fff133; */
  color: purple;
}

#login {
  background: url(../images/all-sports-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
